# Secrets
.env
serviceAccountKey.json
*.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# IDEs
.idea/
.vscode/
*.swp

# Data & Media
data/videos/
data/jib-sud-uz/vids/
data/ms-sud-uz/vids/
data/xatolik-vids/
